body {
	background-color:#f5f5f5;
}

footer {
	background: #f47d31;
	height: 322px;
	padding-top: 55px;

}

footer h5 {
	text-transform: uppercase; 
	color: #fff;
}

footer ul, a {
	color: #fff;
}

footer p{
	color: #fff;
}

footer a:hover {
	text-decoration: none;
	color: #fff;
}

#footer-atalhos ul{
	margin-left: 15px;
	padding-left: 0;
}

#copyright {
	padding-right: 0;
}

#copyright p{
	margin-top: 60px;
	font-size: 9px;
}

#footer-direita {
	background-color: #f47d31;
	background: url(img/backfooter.jpg) no-repeat 45% 0%;
}

#footer-barcode {
	height: 42px;
	width: 185px;
	background: #fff;
	border: 1px solid black;
	text-align: center;
}

#footer-barcode p {
	line-height: 1.2em;
	color: #000;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 8px;
}

#footer-barcode i {
	color: #000;
	height: 38px;
	width: 38px;
	float: left;
	font-size: 18px;
	padding-top: 10px;
	border-right: 1px solid #ccc;
}


#top-nav {
	background-color: #f47d31; 
	width:100%; 
	height:35px; 
	clear: both;
}


#top-nav ul {
	margin: 0;
	padding: 0;
}

#top-menu li{
	display:inline; 
	float:left; 
	position:relative;
	width:auto; 
	margin-right:20px;
	left: 25%;
	margin-top: 5px;
}

#top-menu li:last-child{
	margin-top: 0;
}

#top-menu a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	
}

#top-menu li:hover a{
	opacity: 0.6;
	color: #fff;
}

#busca-topo {
	background: #c66223;
	width: 300px;
	height: 35px;
	position: relative;
}

	#busca-topo input[type="search"]{
	background: #c66223;
	border: none;
	margin: 7px 5px;
	font-size: 12px;
	}

	#busca-topo button{
		background: none;
		color: #fff;
		border:none;
		border-left: 1px solid white;
		float: right;
		padding: 0px 20px;
		margin-top: 5px;
		text-transform: uppercase;
		font-size: 16px;
		
	}

	#busca-topo ::-webkit-input-placeholder { 
		color:#fff; 
		font-size: 12x;
	}
	#busca-topo ::-moz-placeholder { 
		color:#fff; 
		font-size: 12x;
		} /* firefox 19+ */
	#busca-topo :-ms-input-placeholder { 
		color:#fff; 
		font-size: 12x;
		} /* ie */
	#busca-topo input:-moz-placeholder { 
		color:#fff; 
		font-size: 12x;
	}

#myCarousel {
	top: -70px;
	position: relative;
	clear: both;
	z-index:-2;
}

#slides {
	height: 200px;
	top: 200px;
	background: none;
	}

#nextslide {
	background-image: url('img/Rectangleright.png');
	display: block;
	width: 21px;
	height: 30px;
	right: 100%;
	top: 60%;
	position: absolute;
	z-index: 0 !important;

}

#prevslide {
	background-image: url('img/Rectangleleft.png');
	display: block;
	width: 21px;
	height: 30px;
	left: 100%;
	top: 60%;
	position: absolute;
	z-index: 0;

}

#nav-main ul{
	margin-right: 120px;	
}

.navbar-prim{
	background-color: transparent;
	background: transparent;
	border-color: transparent;
	z-index: -1;
	}

.navbar-prim li { 
	color: #000;
	margin-top: 20px;
} 

.navbar-prim a { 
	text-transform: uppercase;
	color: #000 !important;
} 

#logo{
	position: absolute;
	z-index: 1;
	margin-top: 45px;
}


#painel1 {
	padding-bottom: 25px;
}

#painel1 p{
	text-align: center;
	text-transform: uppercase;
	background: #58207b;
	color: #f7802c;
	margin: 0;
	font-size: 8px;
	padding: 9px;

}

@media (max-width: 414px) {

		#myCarousel {
			position: relative;
			margin-top: 80px;
		}

		#slides {
		height: 200px;
		background: none;
		margin-top: 30%
		}

		#logo{
		position: absolute;
		z-index: 1;
		margin-top: 10px;
		}

		#painel1  {
		    padding: 5% 5%;

		}

		#painel1 p {
		    text-align: center;
			text-transform: uppercase;
			background: #58207b;
			color: #f7802c;
			font-size: 8px;
			padding: 5%;
			margin-right: 0%;
		}

		#painel3 > div {
		bottom: 50px;
		position: absolute;
		text-align: center;
		width: 200px;
		padding-left: 15%;

	}
		#painel5 > div {
		bottom: 50px;
		position: absolute;
		text-align: center;
		width: 200px;
		padding-left: 15%;

	}


	#busca-outter {
		width: 320px !important;
		height: 300px !important;
		border: 1px solid #ccc;
		background: #fff;
		background:none !important;
		padding: 5px 5px !important;

	}

	#busca-direita {
		position: relative !important;
		margin-top: 40px;
	}

	#busca {
		margin: 10px 10px;
	}

	#media-form {
		background: #ccc;
		height: 48px;
		width: auto !important;
		margin-bottom: 30px;
	}

	#media-form input[type="email"]{
		width: 10em;
	}

	footer {
		height: 544px;
		background: #f47d31 !important;
	}
}

@media (min-width: 415px) and (max-width: 768px) {

		#top-nav{
			top: -999px;
		}

		#myCarousel {
			position: relative;
			margin-top: 80px;
		}

		#slides {
		height: 200px;
		background: none;
		margin-top: 30%
		}

		#logo{
		position: absolute;
		z-index: 1;
		margin-top: 10px;
		}

		#painel1  {
		    padding: 5% 5%;

		}

		#painel1 p {
		    text-align: center;
			text-transform: uppercase;
			background: #58207b;
			color: #f7802c;
			font-size: 8px;
			padding: 5%;
			margin-right: 0%;
		}

		#painel3 > div {
		bottom: 50px;
		position: absolute;
		text-align: center;
		width: 200px;
		margin-right: -30%;

	}
		#painel4 > div {
		bottom: 50px;
		position: absolute;
		text-align: center;
		width: 200px;
		margin-right: -5%;
		margin-top: -25%;
	}
		#painel5 > div {
		bottom: 50px;
		position: absolute;
		text-align: center;
		width: 200px;
		margin-right: -30%;

	}


	footer {
		height: 344px;
		background: #f47d31 !important;
	}
}


#painel1 a{
	text-decoration: none;
	color: #f7802c;
}

#painel2 {
	padding-bottom: 26px;
}
	#painel2 > div {
		top: 10px;
		position: absolute;
		text-align: center;
		width: 200px;
		margin-left: 5px;
	}

	#painel2 h5 {
		font-size: 12px;
	}

	#painel2 h4 {
		font-weight: bold;
	}

	#painel2 h4, h5 {
		text-transform: uppercase;
	}

	#painel2 p {
		font-size: 12px;
	}
	#painel2 a {
		text-decoration: none;
		text-transform: uppercase;
		background:#fff;
		color: #000;
		border: 1px solid black;
		padding: 5px 15px;
		font-weight: bold;
		font-size: 11px;
	}

#painel3 {
	padding-bottom: 26px;
}

	#painel3 > div {
		bottom: 50px;
		position: absolute;
		text-align: center;
		width: 200px;
		right: 90px;

	}

	#painel3 h5 {
		font-size: 12px;
	}

	#painel3 h4 {
		font-weight: bold;
	}

	#painel3 h4, h5 {
		text-transform: uppercase;
	}

	#painel3 p {
		font-size: 12px;
	}
	#painel3 a {
		text-decoration: none;
		text-transform: uppercase;
		background:#fff;
		color: #000;
		border: 1px solid black;
		padding: 5px 15px;
		font-weight: bold;
		font-size: 11px;
	}


#painel4 {
	padding-bottom: 26px;
}
	#painel4 > div {
		top: 90px;
		position: absolute;
		text-align: center;
		width: 200px;
		right: 30px;
	}
	#painel4 h5 {
		font-size: 12px;
	}

	#painel4 h4 {
		font-weight: bold;
	}

	#painel4 h4, h5 {
		text-transform: uppercase;
	}

	#painel4 p {
		font-size: 12px;
	}
	#painel4 a {
		text-decoration: none;
		text-transform: uppercase;
		background:#fff;
		color: #000;
		border: 1px solid black;
		padding: 5px 15px;
		font-weight: bold;
		font-size: 11px;
	}

#painel5 {
	padding-bottom: 26px;
}
	#painel5 > div {
		bottom: 50px;
		position: absolute;
		text-align: center;
		width: 200px;
		right: 90px;
	}

	#painel5 h5 {
		font-size: 12px;
	}

	#painel5 h4 {
		font-weight: bold;
	}

	#painel5 h4, h5 {
		text-transform: uppercase;
	}

	#painel5 p {
		font-size: 12px;
	}
	#painel5 a {
		text-decoration: none;
		text-transform: uppercase;
		background:#fff;
		color: #000;
		border: 1px solid black;
		padding: 5px 15px;
		font-weight: bold;
		font-size: 11px;
	}

#mapa {
	background-image: url(img/mapa.jpg);
	width: auto;
	height: 351px;
	overflow: hidden;
	margin-top: 40px;
}

#mapa h5, p {
	color: #000;
}

#busca {
	width: 206px;
	height: 53px;
	border: 1px solid black;
	background: #fff;
	float: left;
}

#busca img {
	float: left;
	padding: 12px;
	border-right: 1px solid #ccc;
	margin-top: 3px;
}

#busca p {
	line-height: 1em;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	padding-top: 7px;
}

#busca a{
	text-decoration: none;
	color: #000;
}

#busca-outter{
	width: 607px;
	height: 116px;
	border: 1px solid #ccc;
	background: #fff;
	padding: 30px 10px;
	margin-top: 115px;
	background-image: url(img/outter.jpg);

}


#busca-direita{
	float: right;
	position: relative;
	bottom: 20px;
}

#busca-direita p{
	text-transform: uppercase;
	font-weight: bold;
}

#area-form {
	float: right;
	background: #ccc;
	height: 48px;
	width: 300px;
}
#area-form input[type="search"]{
	background: #ccc;
	border: none;
	padding: 10px 0px 10px 15px;
	margin-top: 4px;
	margin-left: 2px;
 	
}

#area-form button{
	background: #fff;
	border: none;
	border: 1px solid black;
	float: right;
	padding: 8px 20px;
	margin: 8px 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	
}

#area-form ::-webkit-input-placeholder { 
	color:#000; 
	font-size: 18px;
}
#area-form ::-moz-placeholder { 
	color:#000; 
	font-size: 18px;
	} /* firefox 19+ */
#area-form :-ms-input-placeholder { 
	color:#000; 
	font-size: 18px;
	} /* ie */
#area-form input:-moz-placeholder { 
	color:#000; 
	font-size: 18px;
}

#media-social {
	height: 295px;
	margin-top: 105px;
}	
	#media-social ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	#media-social p{
		text-transform: uppercase;
		font-weight: bold;
	}

	#media-social li{
		height: 46px;
		width: 46px;
		font-weight: bold;
		text-align: center;
		border:1px solid black;
		padding-top: 10px;
		text-decoration: none;
		float: left;
		margin-right: 22px;
	}

	#media-social a{
		text-decoration: none;
		color: #000;
		font-size: 20px;
	}

#media-form {
	background: #ccc;
	height: 48px;
	width: 360px;
}
	#media-form input[type="email"]{
		background: #ccc;
		border: none;
		padding: 10px 0px 10px 15px;
		margin-top: 4px;
		margin-left: 2px;
	}

	#media-form button{
		background: #fff;
		border: none;
		border: 1px solid black;
		float: right;
		padding: 8px 20px;
		margin: 8px 5px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 10px;
		
	}
	#media-form ::-webkit-input-placeholder { 
		color:#000; 
		font-size: 18px;
	}
	#media-form ::-moz-placeholder { 
		color:#000; 
		font-size: 18px;
		} /* firefox 19+ */
	#media-form :-ms-input-placeholder { 
		color:#000; 
		font-size: 18px;
		} /* ie */
	#media-form input:-moz-placeholder { 
		color:#000; 
		font-size: 18px;
	}
